body {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

.toast {
  max-width: 550px !important;
}

.toast-header-success,
.toast-header-error {
  max-width: 550px !important;
}

.toast-header-success {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.toast-header-error {
  background-color: #f8d7da !important;
  border-color: #f8d7da !important;
}

.toast-header > small {
  font-weight: 300;
  margin-left: auto !important;
}

.toast-header-success > strong,
.toast-header-success > small,
.toast-header-error button {
  color: #155724 !important;
  word-break: break-word;
}

.toast-header-error > strong,
.toast-header-success > strong {
  max-width: 350px;
  font-size: 12px;
  font-weight: 400;
}

.toast-header-error > strong,
.toast-header-error > small,
.toast-header-error button {
  color: #721c24 !important;
}

.upload-post .input-group-prepend + input.form-control {
  padding: 0 !important;
  pointer-events:none;
}

.md-form {
  margin-top: 0.6rem !important;
  margin-bottom: 0.7rem !important;
}

.stake span.md-addon {
  padding: 0 !important;
}

.stake .input-group-prepend + input.form-control {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 10px !important;
}

.mdb-autocomplete-wrap {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: 210px;
  padding-left: 0;
  background: #fff;
  margin-bottom: 1rem;
  margin-top: -15px;
}

.mdb-autocomplete-wrap li {
  padding: 12px 15px;
  cursor: pointer;
  font-size: 0.875rem;
}

.mdb-autocomplete-wrap li.active {
  background: #eee !important;
}

.mdb-autocomplete-wrap li:hover {
  background: #eee !important;
}

.form-control.input-validated {
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
