.toast-header-success,
.toast-header-error {
  max-width: 400px !important;
}

.toast-header-success {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.toast-header-error {
  background-color: #f8d7da !important;
  border-color: #f8d7da !important;
}

.toast-header > small {
  font-weight: 300;
}

.toast-header-success > strong,
.toast-header-success > small,
.toast-header-error button {
  color: #155724 !important;
  word-break: break-word;
}

.toast-header-error > strong,
.toast-header-success > strong {
  max-width: 200px;
  font-size: 12px;
  font-weight: 400;
}

.toast-header-error > strong,
.toast-header-error > small,
.toast-header-error button {
  color: #721c24 !important;
}

.toast-header button {
  margin-left: auto !important;
}

.input-group-prepend + input.form-control {
  padding: 0 !important;
  pointer-events:none;
}
